.acerca {
   margin-top: 10px;
}
.acerca .acerca-box {
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
}
.acerca .acerca-box .acerca-box__photo{
    max-width: 200px;
    position: relative;
    top: 20px;
    z-index: 2;
}
.acerca .acerca-box .acerca-box__photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: solid 3px var(--first-color);
}
.acerca .acerca-box .acerca-box__presentation {
    padding: 0px 30px 0px 30px;
    line-height: 40px;
    border: solid 3px var(--first-color);
    border-radius: 10px;
    background-color: #cac7c7;
}
.acerca .acerca-box .btn-cv {
    position: relative;
    top: -20px;
    border: solid 3px var(--first-color);
    background-color: var(--black-color);
    color: var(--first-color);
}
.acerca .acerca-box .btn-cv svg{
    width: 18px;
    height: 18px;
    margin-left: 6px;
}

@media (max-width:1350px){
    .acerca .acerca-box {
        max-width: 600px;
    }
}
@media (max-width:980px){
    .roadmap {
        justify-content: flex-start;
    }
}
@media (max-width:850px){
    .acerca .acerca-box {
        width: 90%;
    }
    .roadmap {
        display: none;
    }
    .section-grid {
        grid-template-columns: 1fr;
    }
}